:root {
    --background-color-glass-dark: #0e0e0e9a;
    --height: 1900;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
#background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#background img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#body {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
#timer{
    width: 20%;
    height: 50%;
    background: var(--background-color-glass-dark);
    border-radius: 20px;
    position: relative;
    font-size: 30px;
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
#timer input {
    border-radius: 16px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    backdrop-filter: blur(5px);
    width: 40%;
    height: 60%;
    margin: 0;
    padding: 5px;
    font-size: 40px;
    color: white;
}
#timer > form > p {
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px;
    background: var(--background-color-glass-dark);
    border-radius: 5px;
}
#target {
    display: none;
}
#target p {
    border-radius: 5px;
    background: VAR(--background-color-glass-dark);
    padding: 5px;
    width: 155px;
    text-align: center;
}
#target b {
    width: 155px;
    text-align: center;
    margin-left: 25%;
}
#searchbox{
    width: 40%;
    height: 80%;
    margin-top: 5%;
}
#search {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}
#good, #good b {
    position: absolute;
    font-size: 50px;
    color: red;
    text-align: center;
    width: 150%;
    left: 50%;
    transform: translateX(-50%);
}
#search input {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-size: 30px;
    color: white;
    background: var(--background-color-glass-dark);
    backdrop-filter: blur(10px);
    padding: 5px;
    border: none;
    outline: none;
}
#favorite {
    display: flex;
    flex-wrap: wrap;
    height: calc(3 * 112px);
    justify-content: center;
    margin-bottom: 8px;
    backdrop-filter: blur(10px);
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 2px;
    transition: opacity 300ms ease-in-out;
    background: var(--background-color-glass-dark);
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
}
#favorite span {
    -webkit-tap-highlight-color: transparent;
    color: white;
    backdrop-filter: blur(5px);
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 150px;
    opacity: 1;
    overflow: hidden;
    outline: none;
    position: relative;
    font-size: 18px;
    width: 112px;
    margin: 10px;
    background: var(--background-color-glass-dark);
    padding: 10px;
}
#favorite span::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: blue;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
    transition: opacity 300ms;
}
#favorite span:hover::before {
    opacity: 1;
}
#favorite span img {width: 84px}
#clock {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 35px;
    color: white;
    backdrop-filter: blur(10px);
    padding: 3px;
    border-radius: 10px;
    background: var(--background-color-glass-dark);
}
#weather{
    height: 90%;
    position: relative;
}
#weather iframe {
    width: 100%;
    height: calc(var(--height) - 500px);
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: none;
}
.add {
    border: 5px dashed gray;
}
.add #icon {
    width: 64px;
    height: 64px;
    position: relative;
}
.add #icon div:nth-child(1) {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    background: gray;
    margin-top: 50%
}
.add #icon div:nth-child(2) {
    width: 100%;
    height: 100%;
    background: gray;
}
.add-panel {
    position: absolute;
    background: var(--background-color-glass-dark);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 107.5%;
    z-index: 1;
    display: none;
}
.main-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: #191919;
    width: 50%;
    height: 50%;
    color: white;
    padding: 50px;
}
.first-input, .second-input {
    width: 90%;
}
.first-input {
    margin-bottom: 50px;
}
.first-input input, .second-input input {
    width: 90%;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    background: #2f2f2f;
    color: white;
}
.save {
    height: 20px;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.save span {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    margin: 15px;
    color: white;
    transition: background 200ms;
}
.save span:nth-child(1) {
    background: #2f2f2f;
}
.save span:nth-child(2) {
    background: #1fe51f;
}
.save span:hover {
    background: blue;
    cursor: pointer;
}
.first-input label, .second-input label {font-size: 20px;}
@media only screen and (max-width: 1000px) {
    #weather {
        display: none;
    }
    #clock p {
        display: none;
    }
    #searchbox {
        width: 80%;
    }
    #good ,b {
        width: 80%;
    }
    #timer {
        display: none;
    }
    #favorite{
        overflow-y: auto;
    }
    #favorite span {
        width: 80px;
        height: 102px;
        font-size: 12px;
    }
    #favorite span img {
        width: 64px;
    }
}